/* Remove the default margin and padding from the body. */
body {
  padding: 0;
  margin: 0;
}

/* Set map, body, and html to 100% of the screen size. */
#map,
body,
html {
  height: 100%;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif
}

h3 {
  text-align: center;
  font-family: Calibri
}

h4 {
  text-align: center

}